ul {
  list-style-type: none;
  margin-top: -220px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  font-family: 'Alegreya Sans SC';font-size: 22px;
  float: right;
}

li a {
  font-family: 'Alegreya Sans SC';font-size: 22px;
  display: block;
  color: white;
  /*text-align: center;*/
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  

  animation-name: example;
  animation-duration: 1s;
}
    body {
      font-family: 'Alegreya Sans SC';
      font-size: 22px;
      text-align: center;
      padding-top: 10em;*/
      animation: colorchange 50s; 
      -webkit-animation: colorchange 50s infinite; 
    }
h2{
  animation: sizechange 2s;
}

@keyframes sizechange{
  from{font-family: 'Alegreya Sans SC';
      font-size: 22px;
      /*text-align: bottom;*/
      /*margin-top:200px;*/
      opacity:0.0;}
  to{font-family: 'Alegreya Sans SC';
      font-size: 33px;
      /*text-align: center;*/
      opacity:1;    
  }
}
    @keyframes colorchange
    {
      0%   {background: rebeccapurple;}
      25%  {background: #0066cc;}
      50%  {background: dodgerblue;}
      75%  {background: mediumseagreen;}
      100% {background: tomato;}
    }

    @-webkit-keyframes colorchange 
    {
      0%   {background-image: url("BBS_6611.jpg");
            background-repeat: no-repeat;
            background-size: cover;}
      25%  {background: yellow;}
      50%  {background: orange;}
      75%  {background: green;}
      100% {background: red;}
    }

    @keyframes example
    {
      from{background-color: #333;
  font-family: 'Alegreya Sans SC';font-size: 22px;
  color: white;}
  to{background-color: white;
  font-family: 'Alegreya Sans SC';font-size: 22px;
  color: black;}

    }

/* { color:#fff; text-decoration: none;}}*/