
* {  box-sizing: border-box;
}
body {
  font-family: 'Alegreya Sans SC';
  font-size: 19px;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

h1 {
    font-family: 'Alegreya Sans SC';
}

h2, h3, a {
  color: #34495e;
}

a {
  text-decoration: none;
}
h1{text-align:center;}
ul{
  list-style-type: none;
  width: 100%;
  display:inline-block;
  text-align:center;
}
ul li{
  position: relative;
  left:0%;
  padding: 5px 15px;
  font-family: 'Alegreya Sans SC';
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  color:#34495e;
}

ul li a:hover{

  color: #718daa;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.wrapper{
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link_wrapper{
position: relative;
}

.cv {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid transparent;
  transition: all .35s;
}

.icon{
  width: 50px;
  height: 50px;
  position: absolute;
  transform: rotate(135deg);
  right: 40%;
  top: 0;
  z-index: -1;
  transition-delay: .35s;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  right: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #34495e;
  transition-delay: .35s;
  transition: all .35s;
}

.cv:hover{
  width: 200px;
  border: 3px solid #34495e;
  background: transparent;
  color: transparent;
}

.cv:hover +  .icon{
  border: 0px solid transparent;
  right: 40%;
}

.logo a{
  position: relative;
  top: 0px;
  left: 0%;
  font-size:2.5em;
  padding: 5px 5px;
  font-family: 'Nothing You Could Do';
  text-align: center;
  display: inline;
  color:#34495e;
}

.header {
  padding-top: .5em;
  padding-bottom: .5em;
  border: 0px solid #a2a2a2;
  /*background-color: #f4f4f4;*/
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.0);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.0);
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.0);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color:white;
}

h2{
  text-align:center;
  animation: sizechange 2s;

}

@keyframes sizechange{
  from{font-family: 'Alegreya Sans SC';
      font-size: 22px;
      /*text-align: bottom;*/
      /*margin-top:200px;*/
      opacity:0.0;}
  to{font-family: 'Alegreya Sans SC';
      font-size: 28.5px;
      /*text-align: center;*/
      opacity:1;
  }
}


/* =================================
  Media Queries
==================================== */




/*@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
      .header{
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
  }

}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

}*/


/*ul {
  list-style-type: none;
  margin-top: -220px;
  padding: 0;
  overflow: auto;
  background-color: #333;
}

li {
  font-family: 'Alegreya Sans SC';font-size: 22px;
  float: right;
}

li a {
  font-family: 'Alegreya Sans SC';font-size: 22px;
  display: block;
  color: white;
*/  /*text-align: center;*/
/*  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {


  animation-name: example;
  animation-duration: 1s;
}
    body {
      font-family: 'Alegreya Sans SC';
      font-size: 22px;
      text-align: center;
      padding-top: 10em;*/
     /* animation: colorchange 50s;
      -webkit-animation: colorchange 50s infinite;
    }
h2{
  animation: sizechange 2s;
}

@keyframes sizechange{
  from{font-family: 'Alegreya Sans SC';
      font-size: 22px;
      /*text-align: bottom;*/
      /*margin-top:200px;*/
/*      opacity:0.0;}
  to{font-family: 'Alegreya Sans SC';
      font-size: 33px;
      /*text-align: center;*/
      /*opacity:1;
  }
}
    @keyframes colorchange
    {
      0%   {background: rebeccapurple;}
      25%  {background: #0066cc;}
      50%  {background: dodgerblue;}
      75%  {background: mediumseagreen;}
      100% {background: tomato;}
    }

    @-webkit-keyframes colorchange
    {
      0%   {background-image: url("BBS_6611.jpg");
            background-repeat: no-repeat;
            background-size: cover;}
      25%  {background: yellow;}
      50%  {background: orange;}
      75%  {background: green;}
      100% {background: red;}
    }

    @keyframes example
    {
      from{background-color: #333;
  font-family: 'Alegreya Sans SC';font-size: 22px;
  color: white;}
  to{background-color: white;
  font-family: 'Alegreya Sans SC';font-size: 22px;
  color: black;}

    }*/*/*/*/

/* { color:#fff; text-decoration: none;}}*/
