
* {
  box-sizing: border-box;
}
body {
  font-family: 'Alegreya Sans SC';
  font-size: 19px;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}


h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}
h1{text-align:center;}
ul{
  list-style-type: none;
}
ul li a{

  margin: 0 20px;
  font-size: 1.45em;
  position: relative;
  top: 5px;
  right: 150%;
  /*right:50%;*/
  padding: 10px 25px;
  font-family: 'Alegreya Sans SC';
  /*text-transform: uppercase;*/
  text-align: left;
  display: block;
  color:#34495e;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

/*.main-nav {
  margin-top: 5px;

}*/

/*.main-nav a {
  position: relative;
  top: 10px;
  left: -500%;
  padding: 0px 20px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color:#34495e;
}
*/
.logo a{
  position: absolute;
  top: 10px;
  left: 45%;
  /*right:50%;*/
  padding: 10px 15px;
  font-family: 'Nothing You Could Do';
  /*text-transform: uppercase;*/
  text-align: center;
  display: block;
  color:#34495e;
}

/*.main-nav a {
  color: #34495e;
  font-size: .99em;
  width: 25%;
}

.main-nav a:hover {
  color: #718daa;
}

*/

.header {
  padding-top: 4em;
  padding-bottom: .5em;
  border: 1px solid #a2a2a2;
  /*background-color: #f4f4f4;*/
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color:white;
}

h2{
  text-align:center;
  animation: sizechange 2s;

}

@keyframes sizechange{
  from{font-family: 'Alegreya Sans SC';
      font-size: 22px;
      /*text-align: bottom;*/
      /*margin-top:200px;*/
      opacity:0.0;}
  to{font-family: 'Alegreya Sans SC';
      font-size: 28.5px;
      /*text-align: center;*/
      opacity:1;    
  }
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
      .header{
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
  }

}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

}


/*ul {
  list-style-type: none;
  margin-top: -220px;
  padding: 0;
  overflow: auto;
  background-color: #333;
}

li {
  font-family: 'Alegreya Sans SC';font-size: 22px;
  float: right;
}

li a {
  font-family: 'Alegreya Sans SC';font-size: 22px;
  display: block;
  color: white;
*/  /*text-align: center;*/
/*  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  

  animation-name: example;
  animation-duration: 1s;
}
    body {
      font-family: 'Alegreya Sans SC';
      font-size: 22px;
      text-align: center;
      padding-top: 10em;*/
     /* animation: colorchange 50s; 
      -webkit-animation: colorchange 50s infinite; 
    }
h2{
  animation: sizechange 2s;
}

@keyframes sizechange{
  from{font-family: 'Alegreya Sans SC';
      font-size: 22px;
      /*text-align: bottom;*/
      /*margin-top:200px;*/
/*      opacity:0.0;}
  to{font-family: 'Alegreya Sans SC';
      font-size: 33px;
      /*text-align: center;*/
      /*opacity:1;    
  }
}
    @keyframes colorchange
    {
      0%   {background: rebeccapurple;}
      25%  {background: #0066cc;}
      50%  {background: dodgerblue;}
      75%  {background: mediumseagreen;}
      100% {background: tomato;}
    }

    @-webkit-keyframes colorchange 
    {
      0%   {background-image: url("BBS_6611.jpg");
            background-repeat: no-repeat;
            background-size: cover;}
      25%  {background: yellow;}
      50%  {background: orange;}
      75%  {background: green;}
      100% {background: red;}
    }

    @keyframes example
    {
      from{background-color: #333;
  font-family: 'Alegreya Sans SC';font-size: 22px;
  color: white;}
  to{background-color: white;
  font-family: 'Alegreya Sans SC';font-size: 22px;
  color: black;}

    }*/*/*/*/

/* { color:#fff; text-decoration: none;}}*/